h1 {
    text-align: center;
    font-family: Arial;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}
body {
    text-align: left;
    font-family: Arial;
    font-size: 14px;
}
rating {
    font-family: Arial;
    font-size: 16px;
}
#map {
    width: 1000px;
    height: 800px;
    margin: auto;
}
.legend {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size: 14px;
}

.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.paragraph-container {
    margin: auto;
    border: 1px solid #ccc;
    width: 400px; /* Set your desired width */
    padding: 10px;
    background-color: #f9f9f9;
}